name: goreleaser

on:
  push:
    # run only against tags
    tags:
      - "*"

permissions:
  contents: write
  packages: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up Go
        uses: actions/setup-go@v5

      - name: Configure git for private modules
        env:
          GITHUB_API_TOKEN: ${{ secrets.GH_PAT }}
        run: git config --global url."https://x:$GITHUB_API_TOKEN@github.com".insteadOf "https://github.com"


      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install GoReleaser package
        run: sudo snap install --classic goreleaser

      - name: Run GoReleaser
        # if an error is encountered regarding github actions against a private
        # module, double check that the PAT token is no longer expired.
        run: GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} goreleaser release;
